<app-homeheader></app-homeheader>

<div class="bg-main flex flex-col h-[90vh]">
    <div class="items-center justify-center mt-5 font-extrabold text-5xl">
        <h1 class="text-center ">Inicia Sesion</h1>
    </div>
    <div class="flex flex-col items-center text-4xl mt-7">      
        <div class="flex flex-col ">
            <div class="bg-butons justify-center m-2 rounded-lg">
                <button class="font-extralight p-2 text-center text-2xl ">Acceder con tu cuenta de Google</button>
            </div>
        </div>
        <div class="mt-6 ">
            <p class="text-center text-lg">Inicia sesion con tus credenciales</p>
            <form [formGroup]='form' (ngSubmit)="formSubmit()" class="mt-2 ">
               <div class="flex flex-col justify-center"> 
                <input class="font-extralight text-center w-full text-xl p-2" formControlName="cedula" type="text" placeholder="Ingresa tu cedula" [ngClass]="{'is-invalid' : hasErrors('cedula', 'required') || hasErrors('cedula', 'minlength')}">
                @if (hasErrors('cedula', 'required')) {
                    <span class="text-sm text-center">La cedula es <strong>Obligatoria</strong></span>
                }
                @if (hasErrors('cedula', 'minlength')) {
                    <span class="text-sm text-center">La cedula debe tener 7 caracteres como minimo</span>
                } 
                <input formControlName="contraseña" class="font-extralight text-center w-full text-xl p-2 mt-3" type="password" placeholder="Ingresa tu contraseña">

            
                <div class="text-center"> 
                    <span class="text-center text-lg items-center justify-center">No tienes cuenta? <a class="font-bold" routerLink="/auth/register">Registrate</a></span>
                </div>
                <button [disabled]="form.invalid" type="submit" class="bg-butons rounded-md w-full mt-4 font-extrabold text-xl p-2">Continuar</button>
                
              </div>
            </form>
        </div>
    </div> 
</div>
<app-footer></app-footer>
