<app-homeheader></app-homeheader>

<div class="flex flex-col items-center h-screen bg-main">
  <button (click)="volverAEntidades()" class="btn-volver">
    Volver a Entidades
  </button>

  <h2>servicios {{nombreEntidad}}</h2>

  <div *ngIf="loading" class="loading">
    <app-spinner ></app-spinner>
  </div>

  <div *ngIf="error" class="error">
    {{error}}
  </div>

  <div *ngIf="!loading && !error" class="servicios-grid">
    <div *ngFor="let servicio of servicios" class="servicio-card">
      <h3>{{servicio.nombre}}</h3>
      <p>{{servicio.descripcion}}</p>
    </div>
  </div>

  <div *ngIf="!loading && !error && servicios.length === 0" class="">
    No hay servicios disponibles para esta entidad
  </div>
</div>

<app-footer></app-footer>

