<header class="bg-headfoot max-w-full"> 
    <nav class="px-4 py-2.5">
        <div class="flex justify-around items-center mx-auto max-w-screen sm:justify-between">
            <a href="#" class="flex items-center">              
                <span class="text-4xl font-extrabold text-txt main">SIGESME</span>
            </a>
            <div class="flex items-center lg:order-2">
                <button routerLink="/auth/login" class="text-white text-lg font-medium py-3 px-6 rounded-lg bg-butons  ">Iniciar Sesion</button>                
            </div>         
        </div>
    </nav>
</header>
