<header class="bg-headfoot max-w-full"> 
    <nav class="px-4 py-2.5">
        <div class="flex justify-around items-center mx-auto max-w-screen sm:justify-between">
            <a href="#" class="flex items-center">              
                <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-teal-500 text-5xl font-bold">
                    SIGESME
                </h1>
            </a>
            <div class="flex items-center lg:order-2">                
                <button   routerLink="/auth/login" class="text-white text-lg font-medium py-3 px-6 rounded-lg bg-butons  ">Iniciar Sesion</button>             
            </div>         
        </div>
    </nav>
</header>
