<app-homeheader></app-homeheader>

<div class="bg-main flex flex-col h-[90vh]">
    <div class="items-center justify-center mt-5 font-extrabold text-5xl">
        <h1 class="text-center ">Registrate</h1>
    </div>
    <div class="flex flex-col items-center text-4xl mt-7">      
        <div class="mt-6 ">
            <p class="text-center text-lg">Rellena el siguiente formulario de registro</p>
            <form class="mt-2" [formGroup]="formRegistro" >
               <div class="flex flex-col justify-center"> 
                <input formControlName="username" class="font-extralight text-center w-full text-xl p-2" type="email" placeholder="Ingresa tu cedula">
                @if (hasErrors('username', 'required')) {
                    <span class="text-sm text-center">La cedula es <strong>Obligatoria</strong></span>
                }
                @if (hasErrors('username', 'minlength')) {
                    <span class="text-sm text-center">La cedula debe tener 8 caracteres como minimo</span>
                }
                @if (hasErrors('username', 'maxlength')) {
                    <span class="text-sm text-center">La cedula debe tener 10 caracteres como maximo</span>
                }
                <input formControlName="names" class="font-extralight text-center w-full text-xl p-2 mt-3" type="text" placeholder="Ingresa tus nombres">
                @if (hasErrors('names', 'required')) {
                    <span class="text-sm text-center">Los nombres son <strong>Obligatorios</strong></span>
                }
                <input formControlName="lastnames" class="font-extralight text-center w-full text-xl p-2 mt-3" type="text" placeholder="Ingresa tus apellidos">
                @if (hasErrors('lastnames', 'required')) {
                    <span class="text-sm text-center">Los apellidos son <strong>Obligatorios</strong></span>
                }
                <input formControlName="phone" class="font-extralight text-center w-full text-xl p-2 mt-3" type="number" placeholder="Ingresa tu numero de telefono">
                @if (hasErrors('phone', 'required')) {
                    <span class="text-sm text-center">El numero es <strong>Obligatorio</strong></span>
                }
                <input formControlName="email" class="font-extralight text-center w-full text-xl p-2 mt-3" type="email" placeholder="Ingresa tu email">
                @if (hasErrors('email', 'required')) {
                    <span class="text-sm text-center">El email es <strong>Obligatorio</strong></span>
                }
                @if (hasErrors('email', 'email')) {
                    <span class="text-sm text-center">El email debe tener un "Arroba" </span>
                }
                <input formControlName="password" class="font-extralight text-center w-full text-xl p-2 mt-3" type="password" placeholder="Ingresa tu contraseña">                 
                <div class="relative">
                    <input formControlName="repeatPassword" id="hs-toggle-password" placeholder="Repite tu contraseña" type="password" class="py-3 px-4 block w-full font-extralight text-xl text-center mt-3" >
                    <button type="button" data-hs-toggle-password='{
                      "target": "#hs-toggle-password"
                    }' class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500">
                      <svg class="shrink-0 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                        <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
                        <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                        <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
                        <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                        <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
                      </svg>
                    </button>
                </div>
                @if (hasErrors('password', 'required')) {
                    <span class="text-sm text-center">Las contraseñas son <strong>Obligatoria</strong></span>
                }
                @if(hasErrors('repeatPassword', 'mismatch')){
                    <span class="text-sm text-center">Las contraseñas deben ser <strong>Iguales</strong></span>
                }
    
                
                <button type="submit" class="bg-butons rounded-md w-full mt-4 font-extrabold text-xl p-2" (click)="registerUser()">Registrarse</button>               
              </div>
             
            </form>
        </div>
    </div> 
</div>
<app-footer></app-footer>
