<app-homeheader></app-homeheader>
<div class="flex flex-col items-center h-[80vh] bg-main ">
<!-- Contenido principal -->
<div class="flex flex-col  items-center mt-48 ">
  <span class="text-center">Escoge la entidad en la que deseas sacar algun turno</span>
    <!-- Campo de búsqueda -->
    <div class="entidades-container mt-4">
      <div  *ngFor="let entidad of ListEntities" 
           (click)="onEntitySelect(entidad.nit, entidad.nombre)"
           class="entidad-card">
        <h3>{{entidad.nombre}}</h3>
        <!-- Otros detalles de la entidad -->
      </div>
    </div>

    <!-- Botón Ver mi actividad -->
     
    <button class="mt-32 bg-butons font-extrabold py-2 px-6 rounded-full w-[30vw] sm:w-[80vw]">
      Ver mi actividad
    </button>   
</div>
</div>
<app-footer></app-footer>


