<app-homeheader></app-homeheader>
<div class="flex flex-col items-center h-[80vh] bg-main ">
<!-- Contenido principal -->
<div class="flex flex-col  items-center mt-48 ">
    <!-- Campo de búsqueda -->
    <div class="relative">
      <select class="rounded-md py-2 px-4 w-full sm:w-1/3 border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
        <option *ngFor="let entidad of ListEntities" [value]="entidad.nombre">{{ entidad.nombre }}</option>
      </select>
    </div>

    <!-- Botón Ver mi actividad -->
     
    <button class="mt-32 bg-butons font-extrabold py-2 px-6 rounded-full w-[30vw] sm:w-[80vw]">
      Ver mi actividad
    </button>   
</div>
</div>
<app-footer></app-footer>


